@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    background-color: #d400ff;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20vw;
    margin: auto;
}

h1 {
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #610061;
    user-select: none;
    text-align: center;
}

h1:hover {
    text-shadow: #610061 0 0 15px;
}

hr {
    border-color:#d400ff;
    width: 80%;
}

.info {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    margin-top: 7.5%;
    gap: 15%;
}

.go-back {
    display: flex;
    height: 100%;
    margin-top: 15vh;
}

.go-back a {
    position: relative;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: #4b004b;
    font-weight: bold;
}

.link:hover::after {
    width: 100%;
    left: 0;
    color: #4d002f;
}

.link:hover {
    color: #6d0055;
}

li {
    color: #000000;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    font-weight: bold;
    user-select: none;
    font-size: 115%;
    text-align: left;
}

.afiliation {
    font-size: 90%;
    color: #000000;
    text-shadow: #57004f59 0 0 20px;
}

.face-shot {
    border-radius: 100%;
    background-color: rgb(163, 0, 155);
    user-select: none;
    -webkit-user-drag: none;
}

span {
    color: #33002f;
}

@media (max-width: 768px) {
    .info {
        flex-direction: column;
        text-align: center;
        gap: 1rem;
    }
}